.portfolio .defaultCoinIcon::before {
  content: "\E028";
}

.portfolio .table td,
.portfolio .table tfoot th {
  vertical-align: middle;
}

.portfolio .table thead th.coin {
  padding-left: 55px;
}

.portfolio .table .btn-add-new-transaction {
  opacity: 1;
}

.portfolio .table.is-edit-mode .btn-add-new-transaction {
  opacity: 0;
}

.portfolio .table.is-edit-mode tbody tr:not(.is-edit-mode) {
  opacity: 0.1;
  transform: translateZ(0);
}

.portfolio #nextRefreshContainer {
  display: flex;
}

.portfolio #nextRefreshContainer > div.refreshMessage {
  align-self: center;
  margin-right: 5px;
}

.portfolio #nextRefreshContainer > div.refreshButtonContainer {
  flex-grow: 1;
}

.portfolio .btnCopyToClipboard span {
  transition: opacity 0.5s ease-in-out 0s;
  display: inline-flex;
  overflow: hidden;
}

.portfolio .btnCopyToClipboard.copied span:nth-child(1),
.portfolio .btnCopyToClipboard span:nth-child(2) {
  height: 0;
  width: 0;
  opacity: 0;
}

.portfolio .btnCopyToClipboard.copied span:nth-child(2) {
  height: auto;
  width: auto;
  opacity: 1;
}
