tr.trTransaction td .coin-cell {
  display: flex;
  align-items: flex-start;
}

tr.trTransaction td .coin-cell .btnRemoveTransaction {
  align-self: center;
  margin-right: 1rem;
}

tr.trTransaction td .coin-cell .field {
  flex-grow: 1;
}
