#root {
  display: flex;
  min-height: calc(100vh - 52px);
  flex-direction: column;
  box-sizing: content-box;
}

#page-content {
  display: flex;
  flex: 1 0 auto;
}

.button.is-dwarf {
  font-size: 0.6rem;
}

.has-text-green {
  color: #108e3c !important;
}

.wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
